# Headers

snippet #! "shebang header for python" b
#!/usr/bin/env python
$0
endsnippet

snippet #!2 "shebang header for python2" b
#!/usr/bin/env python2
$0
endsnippet

snippet #!3 "shebang header for python3" b
#!/usr/bin/env python3
$0
endsnippet
