snippet begin "\begin{...} ... \end{...}"
\\begin\{${1:block}\}
    ${0:body}
\\end\{$1\}
endsnippet

snippet item "\begin{itemize}..."
\\begin\{itemize\}
    $0
\\end\{itemize\}
endsnippet

snippet enum "\begin{enumerate}..."
\\begin\{enumerate\}
    $0
\\end\{enumerate\}
endsnippet

snippet desc "\begin{description}..."
\\begin\{description\}
    $0
\\end\{description\}
endsnippet

snippet eq "\[ .. \]"
\\[ $0 \\]
endsnippet

snippet it "\item ..."
\\item $0
endsnippet
